[package]
name = "bevy_ggrs_rapier_example"
version = "0.1.0"
edition = "2021"
license = "MIT"

[dependencies]
bevy-inspector-egui = { version = "0.13.0" }
bevy-inspector-egui-rapier = { version = "0.6.0", features = ["rapier2d"] }
bevy = "0.8.1"
bytemuck = { version = "1.7.3", features = ["derive"] }
ggrs = { version = "0.9.1", features = ["sync-send"] }
bevy_ggrs = { version = "0.10.0" }
matchbox_socket = { git = "https://github.com/johanhelsing/matchbox", features = [
    "ggrs-socket",
] }
log = "0.4"
#bevy_rapier2d = { version = "0.17.0", features = [
#    "enhanced-determinism",
#    "serde-serialize",
#] }
# This branch must be used until merged
bevy_rapier2d = { git = "https://github.com/cscorley/bevy_rapier", branch = "transform-and-sort-0.8", features = [
    "enhanced-determinism",
    "serde-serialize",
] }
bincode = "1.3.3"
tracing-subscriber = { version = "0.3.1", features = [
    "registry",
    "env-filter",
] }
tracing-tracy = { version = "0.10.0" }
tracing-log = "0.1.2"
tracing-error = { version = "0.2.0" }
rand = "0.8.5"

[patch.crates-io]
# ggrs = { git = "https://github.com/gschup/ggrs" } # Force matchbox_socket to same version
